# Vercel deployment env vars
VERCEL_TOKEN=**vercel-token**

# Zero DB/PG env vars
VITE_PUBLIC_SERVER='http://localhost:4848'
ZERO_UPSTREAM_DB="postgresql://user:password@127.0.0.1:5430/postgres"
ZERO_AUTH_SECRET="secretkey"
ZERO_REPLICA_FILE="/tmp/ho-solutions.db"

# Drizzle
DATABASE_URL="postgresql://user:password@127.0.0.1:5430/postgres"
