---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo-rounded.svg";
---

<script>
  const today = new Date();

  function updateYear() {
    const year = today.getFullYear();
    const pElement = document.getElementById("ho-solutions");

    if (pElement) {
      pElement.textContent = `HO Solutions ${year}`;
    }
  }

  updateYear();
</script>

<Layout>
  <header class="relative px-4 py-2 m-8">
    <div class="flex gap-2 items-center w-fit">
      <img class="w-6 h-6 mx-auto" src={logo.src} alt="logo" />
      <h1 class="text-lg font-mono text-teal-300">
        use<span class="ml-[2px] text-white">bridge</span>
      </h1>
    </div>
    <!--
    <div class="sm:hidden md:flex absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 gap-4 items-center px-4 py-1 w-fit h-fit font-mono font-thin text-white bg-white/20 backdrop-filter backdrop-blur-md border border-white/30 rounded-2xl">
      <a class="text-teal-300">home</a>
      <a>about</a>
      <a>pricing</a>
      <a>contact</a>
    </div>
-->
  </header>
  <main class="flex flex-col justify-center w-full h-full align-center">
    <section class="mt-32 mx-auto max-w-[600px]">
      <h2 class="text-white text-4xl pb-4">Bridge the gap to automated viewings.</h2>
      <p class="text-white text-3xl font-thin leading-10">
        Give clients instant booking power and free your team from scheduling calls.
      </p>
      <div class="w-2/3 h-1 bg-white/30 backdrop-blur-sm rounded-full mt-2" />
      <button class="mt-32 bg-white text-teal-900 rounded-lg px-4 py-2">Get in touch with us</button>
    </section>
  </main>
  <footer class="absolute bottom-0 w-full h-fit px-4 py-2 m-8">
    <p id="ho-solutions" class="text-white font-mono font-thin">HO Solutions</a>
  </footer>
</Layout>
