<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="ico" href="/favicon-light.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Bridge</title>
    <meta name="description" content="Bridge the gap to automated viewings.">

    <meta name="og:title" content="Bridge">
    <meta name="og:description" content="Bridge the gap to automated viewings.">
    <meta name="og:image" content="https://usebridge.co.uk/assets/white-logo-rounded.svg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bridge">
    <meta name="twitter:description" content="Bridge the gap to automated viewings.">
    <meta name="twitter:image" content="https://usebridge.co.uk/assets/white-logo-rounded.svg">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://usebridge.co.uk">
    <meta property="og:site_name" content="Bridge">
    <meta property="og:locale" content="en_UK">

  </head>
  <body class="bg-gradient-to-br from-teal-900 via-teal-600 via-70% to-teal-800 font-inter min-w-screen min-h-screen m-0">
    <slot />
  </body>
</html>
