<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="ico" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>use bridge</title>
  </head>
  <body class="bg-gradient-to-br from-teal-900 via-teal-600 via-70% to-teal-800 font-inter min-w-screen min-h-screen m-0">
    <slot />
  </body>
</html>
