name: sst-deploy
env:
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  CLOUDFLARE_DEFAULT_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_DEFAULT_ACCOUNT_ID }}
on:
  push:
    branches:
      - main
    paths:
      - "*"
  workflow_dispatch:
jobs:
  # install_dependencies:
  #   name: install dependencies
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: oven-sh/setup-bun@v2
  #     - run: bun install
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    # needs: [install_dependencies]
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: "curl -fsSL https://ion.sst.dev/install | bash"
      - run: bun install
      - run: sst deploy --stage=production

